{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    position: relative;
    min-height: 100vh;
}

.parallax-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.section-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 72px;
    width: 100%;
    text-align: center;
    color: #761c19;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
